<div id="<%= dom_id(post) %>" class="card mb-4">
  <div class="card-body container my-4">
    <div class= "card shadow-lg">
    <h1 class="card-header bg-primary text-white text-center""><%= post.titulo %></h1>
    <div class="mb-3">
      <div class="d-flex justify-content-center my-3">
        <% if post.image.attached? %>
          <%= image_tag post.image, alt: "Post image", class: "img-fluid", style: "max-width: 50%;" %>
        <% else %>
          <p>No image available</p>
        <% end %>
      </div>
    </div>

      <p class="card-text">
        <strong class=" mx-2">Description del puesto:</strong> <%= post.descripcion %> 
      </p>
      <div class="card-footer text-center text-muted">
        Publicado el <%= post.created_at.strftime("%d/%m/%Y") %>
      </div>
    </div>   
  </div>
</div>
